.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.text-big{
  font-size: 2em;
}
.text-medium{
  font-size: 20px;
}
.text-small{
  font-size: 11px;
}

.weight-dropdown{
  width:150px;
}
.btn-width{
  width:60%;
}
.score{
  margin-bottom: 10px;
}
.banner{
  background-color: rgb(19, 18, 18);
  color: white;
  height: 50px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
